* {
  box-sizing: border-box;
  /* overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; */
}

html {
  font-family: "Montserrat";
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

a:hover {
  color: #FD7F2D;
}

/* Flex */

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.flexbetween {
  justify-content: space-between;
}

.flexaround {
  justify-content: space-around;
}

.flexeven {
  justify-content: space-evenly;
}

.flexstart {
  justify-content: flex-start;
}

.flexcenter {
  justify-content: center;
}

.flexend {
  justify-content: flex-end;
}

.flexalignstart {
  align-items: flex-start;
}

.flexaligncenter {
  align-items: center;
}

.flexalignend {
  align-items: flex-end;
}

.flexselfend {
  align-self: flex-end;
}

/* Margins, Padding, and Box Formatting */

.margincenter {
  margin: 0 auto;
}

.marginright {
  margin-right: 1rem;
}

.marginright-big {
  margin-right: 2rem;
}

.marginleft {
  margin-left: 1rem;
}

.margintop {
  margin-top: 1rem;
}

.margintop-lil {
  margin-top: .5rem;
}

.margintop-big {
  margin-top: 2rem;
}

.marginbottom {
  margin-bottom: 1rem;
}

.marginbottom-lil {
  margin-bottom: .5rem;
}

.marginbottom-big {
  margin-bottom: 2rem;
}

.padded {
  padding: 1rem;
}

.padded-double {
  padding: 2rem;
}

.padded-half {
  padding: .5rem;
}

.rounded {
  border-radius: .25rem;
}

.rounded-top {
  border-radius: .25rem .25rem 0 0;
}

.rounded-bottom {
  border-radius: 0 0 .25rem .25rem;
}

.rounded-left {
  border-radius: .25rem 0 0 .25rem;
}

.rounded-right {
  border-radius: 0 .25rem .25rem 0;
}

.height3 {
  height: 3rem;
}

.height5 {
  height: 5rem;
}

.height5-max {
  max-height: 5rem;
}

.height5-min {
  min-height: 5rem;
}

.height7 {
  height: 7rem;
}

.height7-max {
  max-height: 7rem;
}

.height7-min {
  min-height: 7rem;
}

.height10 {
  height: 10rem;
}

.height10-max {
  max-height: 10rem;
}

.height10-min {
  min-height: 10rem;
}

.height20 {
  height: 20rem;
}

.height20-max {
  max-height: 20rem;
}

.height20-min {
  min-height: 20rem;
}

.height25 {
  height: 25rem;
}

.height25-max {
  max-height: 25rem;
}

.height25-min {
  min-height: 25rem;
}

.height30 {
  height: 30rem;
}

.height30-max {
  max-height: 30rem;
}

.height30-min {
  min-height: 30rem;
}

.height35 {
  height: 35rem;
}

.height35-max {
  max-height: 35rem;
}

.height35-min {
  min-height: 35rem;
}

.height40 {
  height: 40rem;
}

.height40-max {
  max-height: 40rem;
}

.height40-min {
  min-height: 40rem;
}

.height50 {
  height: 50rem;
}

.height50-max {
  max-height: 50rem;
}

.height50-min {
  min-height: 50rem;
}

.height80 {
  height: 80rem;
}

.height80-max {
  max-height: 80rem;
}

.height80-min {
  min-height: 80rem;
}

.width10 {
  width: 10vw;
}

.width15 {
  width: 15vw;
}

.width30 {
  width: 30vw;
}

.width40 {
  width: 40vw;
}

.width45 {
  width: 45vw;
}

.width50 {
  width: 50vw;
}

.width55 {
  width: 55vw;
}

.width80 {
  width: 80vw;
}

.width80-min {
  min-width: 80vw;
}

.width85 {
  width: 85vw;
}

.width-half {
  width: 50%;
}

.width-third {
  width: 33.333%
}

.width-60percent {
  width: 60%;
}

.width-40percent {
  width: 40%;
}

.width-100percent {
  width: 100%;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.imgfit {
  max-width: 100%;
  object-fit: contain;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  /* height: 2.5rem; */
  top: -13rem;
  z-index: 10;
}

.hide {
  display: none;
}

/* Text Formatting */

.hugetext {
  font-size: 8rem;
}

.titletext {
  font-size: 5rem;
}

.h1text {
  font-size: 3rem;
}

.h2text {
  font-size: 2.5rem;
}

.h3text {
  font-size: 2rem;
}

.h4text {
  font-size: 1.5rem;
}

.centertext {
  text-align: center;
}

.righttext {
  text-align: right;
}

.jelly {
  font-family: "Jelly";
}

.vanilla {
  font-family: "Vanilla";
}

.mont {
  font-family: "Montserrat";
}

.bold {
  font-family: "Montserrat Bold";
}

/* Colors */

.black {
  background-color: #33262A;
}

.white {
  background-color: #F2E7DC;
}

.bright-white {
  background-color: #FEFEFE;
}

.red {
  background-color: #F23D6D;
}

.pink {
  background-color: #FF65AC;
}

.green {
  background-color: #AFE444;
}

.yellow {
  background-color: #EAE03F;
}

.orange {
  background-color: #FD7F2D;
}

.blacktext {
  color: #33262A;
}

.whitetext {
  color: #F2E7DC;
}

.redtext {
  color: #F23D6D;
}

.pinktext {
  color: #FF65AC;
}

.greentext {
  color: #AFE444;
}

.yellowtext {
  color: #EAE03F;
}

.orangetext {
  color: #FD7F2D;
}

.black50 {
  background-color: #33262A88;
}

.white50 {
  background-color: #F2E7DC88;
}

.red50 {
  background-color: #F23D6D88;
}

.pink50 {
  background-color: #FF65AC88;
}

.green50 {
  background-color: #AFE44488;
}

.yellow50 {
  background-color: #EAE03F88;
}

.orange50 {
  background-color: #FD7F2D88;
}

.blacktext50 {
  color: #33262A88;
}

.whitetext50 {
  color: #F2E7DC88;
}

.redtext50 {
  color: #F23D6D88;
}

.pinktext50 {
  color: #FF65AC88;
}

.greentext50 {
  color: #AFE44488;
}

.yellowtext50 {
  color: #EAE03F88;
}

.orangetext50 {
  color: #FD7F2D88;
}

.blackshadow {
  text-shadow: 0 .125rem #33262A;
}

.whiteshadow {
  text-shadow: 0 .125rem #F2E7DC;
}

.redshadow {
  text-shadow: 0 .125rem #F23D6D;
}

.pinkshadow {
  text-shadow: 0 .125rem #FF65AC;
}

.greenshadow {
  text-shadow: 0 .125rem #AFE444;
}

.yellowshadow {
  text-shadow: 0 .125rem #EAE03F;
}

.orangeshadow {
  text-shadow: 0 .125rem #FD7F2D;
}

.gradient-landscape {
  background: linear-gradient(to right, #F23D6E 0%, 8.762886375188828%, #FF65AD 17.525772750377655%, 29.553265124559402%, #AFE444 41.58075749874115%, 53.60824912786484%, #EAE040 65.63574075698853%, 82.81787037849426%, #FD7F2E 100%);
}

.gradient-vertical {
  background: linear-gradient(to top, #F23D6E 0%, 8.762886375188828%, #FF65AD 17.525772750377655%, 29.553265124559402%, #AFE444 41.58075749874115%, 53.60824912786484%, #EAE040 65.63574075698853%, 82.81787037849426%, #FD7F2E 100%);
}

/* One-Offs */

#bigLogo, #bigLogoLink {
  min-width: 65rem;
  max-width: 70rem;
}


#smallLogoImg {
  max-width: 16.25rem;
}

/* Font Faces */

@font-face {
  font-family: "Jelly";
  src:
    local("Jellies"),
    url("fonts/Jellies.ttf");
}

@font-face {
  font-family: "Vanilla";
  src:
    local("Vanilla"),
    url("fonts/Vanilla.ttf");
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat-Regular"),
    url("fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Bold";
  src:
    local("Montserrat-Bold"),
    url("fonts/Montserrat-Bold.ttf");
}

/* Media Queries */

@media (width < 1120px) {
  html {
    font-size: 85%;
  }
}

@media (width < 910px) {
  html {
    font-size: 70%;
  }
}

@media (width < 750px) {
  html {
    font-size: 55%;
  }
}

@media (width < 610px) {
  html {
    font-size: 40%;
  }
}

@media (width < 450px) {
  html {
    font-size: 30%;
  }
}

@media (width < 360px) {
  html {
    font-size: 25%;
  }
}

@media (width < 260px) {
  #bigLogo, #bigLogoLink {
    min-width: 80vw;
    max-width: 80vw;
  }
}